<h1>Palindrome Numbers</h1>

<%= form_tag palindromes_calculate_path, method: :get do %>
  <%= label_tag :n, "Enter a value for n (n ≤ 10^6):" %>
  <%= text_field_tag :n %>
  <%= submit_tag "Calculate" %>
<% end %>